# Ignore picture formats. To upload pictures, first compress to zip
data/datasets/**/*.jpg
data/datasets/**/*.png
data/datasets/**/*.txt
data/original_images/**/*.jpg
*.jpeg
*.gif
*.bmp
*.svg
*.pt
*.cache
# Ignore .conda folder
/.conda/
/pruebas/
.vscode/
archive/
.env

#Ignore specific large files
documents/bib/Learning_data_augmentation.pdf