# Ignore picture formats. To upload pictures, first compress to zip
data/datasets/**/*.jpg
data/datasets/**/*.txt
*.jpeg
*.gif
*.bmp
*.svg
*.pt

*.cache
# Ignore .conda folder
/.conda/
/pruebas/
.vscode/
archive/